<div class="row">
    	<div class="twelve columns">
			<ul class="breadcrumbs">
			  <li><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url">Home</a></li>
              {% if collection %}
              <li><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></li>
    	      {% else %}
    	       <li><a href="/collections/all" title="All Products">Products</a><li>
    	      {% endif %}
			  <li class="current"><a href="#">{{ product.title }}</a></li>
			</ul>
		</div>
	</div>
    
<div class="row">
	<div class="large-12 columns">
		<h3 class="thetitle">{{ product.title }}</h3> 
	</div>
</div>    

    <div class="row">
		<div class="large-3 columns">
			<div class="description">
    	    	{{ product.description }}
			</div>
			
			{% if product.images.size > 1 %}
				<div class="thumbs">
					{% for image in product.images %}
					{% if settings.enable_product_image_zoom %}
					<div class="image">
					  <a href="{{ image | product_img_url: 'original' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image | product_img_url: 'grande' }}', tint: '#ffffff'">
					    <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
					  </a>
					</div>
					{% else %}
					<div class="image">
					  <a href="{{ image | product_img_url: 'original' }}" data-original-image="{{ image | product_img_url: 'original' }}">
					    <img src="{{ image | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
					  </a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			<!-- End thumbnails -->
			{% endif %}
		</div>
		<div class="large-6 columns">
			{% if settings.enable_product_image_zoom %}
			<a href="{{ product.featured_image | product_img_url: 'original' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder">
			  <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
			</a>
			{% else %}
			<a href="{{ product.featured_image | product_img_url: 'original' }}" class="zoom" id="placeholder">
			  <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
			</a>
			{% endif %}
		</div>
		<div class="large-3 columns">
			<div class="buy-box">
				<div class="purchase">
					<h3 class="price">{{ product.price_min | money }}{% if product.price_min < product.compare_at_price_min %} <del>{{ product.compare_at_price_min | money }}</del>{% endif %}</h3>
					<h6 class="label upper x-bold">-Free shipping-</h6>
				</div>
				<h6 class="upper">select size</h6>
				<form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
					<div class="product-options">
						{% if product.options.size > 1 %}
						<select id="product-select" name='id'>
							{% for variant in product.variants %}
								<option value="">Select Size</option>
								<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
							{% endfor %}
						</select>
						{% elsif product.options.size == 1 and product.variants.size > 1 %}
						<!-- <label>{{ product.options[0] }}</label>-->
						<select id="product-select" name='id'>
						    {% for variant in product.variants %}
						    <option value="">Select Size</option>
						    <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
						    {% endfor %}
						</select>
						<span class="upper small"><a href="/pages/size-guide" title="Size Guide">Size Guide</a></span>
						
						{% else %}
							<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
						{% endif %}
						
						{% if settings.display_quantity_dropdown %}
						<div class="selector-wrapper">
						  <label>Quantity</label>
						  <textarea name="quantity" value="1" placeholder="1"></textarea>
						</div>
						{% endif %}
						{% unless product.available %}
					    	<p>Sold Out</p>
					    {% else %}
							<input type="submit" class="button secondary radius upper" name="add" value="Add to cart">
						{% endunless %}
					</div>
				</form>
			</div>
			
			{% if settings.show_social %}
			<div class="social">
				
			</div>
			{% endif %}
		</div>
        {% if settings.show_related_products %}
        {% if collection and collection.products.size > 1 %}
    		<div class="row">
    		  <div class="large-12 columns">
    		    <h3 class="collection-title">Related products</h3>
    		  </div>
    		</div> 
    		
    		<div class="row products">
    		  {% for product in collection.products limit:4 %}
    		  {% include 'product-loop' with collection.handle %}
    		  {% endfor %}
    		</div>
    	{% endif %}
    {% endif %}
		<div class="row">
			<div class="large-12 columns">
				<div class="more-options">
					<a class="upper label round">More items to consider</a><a class="upper label light round"> read reviews</a>
					<div recomatic="product" shop="{{shop.permanent_domain}}" product_id="{{product.id}}">
				</div>
			</div>
		</div>
	</div>

